* {
  margin: 0;
  padding: 0;
}

// variables de colore sy eso
$white: #Ffff;
$black: #1c2326;
$contraste: #05051A ;
$bgPrimary: #05051A;
$border: #4d51b3;


/* Estilo para la barra de desplazamiento */
::-webkit-scrollbar {
  width: 6px;
  /* Ancho de la barra de desplazamiento */
}

/* Estilo para el riel de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background: var(--bg);
  /* Color de fondo del riel */
}

/* Estilo para el pulgar de la barra de desplazamiento (la parte que se arrastra) */
::-webkit-scrollbar-thumb {
  background: var(--MORADOCLaro);
  /* Color del pulgar de la barra de desplazamiento */
}

/* Estilo para el pulgar de la barra de desplazamiento al pasar el mouse sobre él */
::-webkit-scrollbar-thumb:hover {
  background: var(--rosadito);
  cursor: pointer;
}

.navBar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $white;
  padding: 1rem 2rem;
  border-bottom: 2px solid $black;
  z-index: 1000;
}

.content {
  // width: 100%;ç
  margin-left: 17rem;
  /* Ancho del Sidebar */
  width: calc(100% - 17rem);
  /* Resta el ancho del Sidebar al 100% */
}
.flex {
  display: flex;
}
.title{
  color: $border;
  font-weight: 600;
}

.Sidebar {
  width: 17rem;
  height: 100vh;
  // border-right: 2px solid $border;
  background-color: $bgPrimary;
  overflow: hidden; // Evita que el contenido sobrepase el área visible
  position: fixed;
  border-top-right-radius: 10%;
  ul {
    list-style: none;
    padding: 1em 2em;
    margin-top: 50px;

    li {
      margin-bottom: 1em;
      a {
        text-decoration: none;
        text-align: left;
        font-size: 17px;

        &.active {
          background-color: $contraste;
          color: $white;
          border-bottom: 1px solid $border;
        }
      }
    }
  }
}
//botones generales
.boton{
  background-color: $bgPrimary;
  border: 2px solid $border;
  color: $white;
  height: 40px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 10px;
}
.boton:hover{
  background-color: $border;
}
//input formulario 
tr{
  background-color: $bgPrimary;
}