*{
  margin: 0;
  padding: 0;
}

// variables de colore sy eso
  $white: #Ffff;
  $black: #1c2326;

.navBar{
    background-color: $white;
    padding: 1rem 2rem;
    border-bottom: 2px solid $black;
}
.content{
  width: 100%;
}
.flex{
  display: flex;
}
.Sidebar{
  width: 14rem;
  height: calc(100vh - 52px);
  border-right: 2px solid $black;
  ul{
    list-style: none;
    padding: 1em 2em;
    li{
      margin-bottom: 1em;
      a{
        text-decoration: none;
      }
    }
  }
}